html, body{
    margin: 0; padding: 0;
    font-family: Helvetica, Ariel, sans-serif;
  /*background-color: maroon;*/
}
/*photos taken from https://campuslife.vt.edu/student_centers/Squires/Perspective_Gallery.html*/
div#title-box{
  float: left;
  width: 800px;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 10px;
}

div#header{
}


div#title-box img{
  float: left;
  width: 200px;
}

form#login-box{
  float: right;
  width: 400px;
  margin: 10px 0 20px 0;
}

form#login-box input[type="text"],
form#login-box input[type="password"]{
  display: block;
}

div#login-box{
  float: right;
  width: 400px;
  margin: 10px 50px 20px 0;
  text-align: right;
}

/*body content*/
ul#primary-nav{
  clear: left;
  margin: 0 0 50px 100px; padding: 0;
  list-style-type: none;
}

ul#primary-nav li{
  float: left;
}

ul#primary-nav li a{
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  background-color: grey;
  color: white;
}
ul#primary-nav li a:hover{
  background-color: #555555;
}

ul#primary-nav li a.selected{
  background-color: black;
}

div#content{
  clear: left;
}


/*home pages*/
div#info-box{
  margin-top: 10px;
}

div#info-box img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
div#info-box p{
  margin-left: 100px;
  margin-right: 100px;
  font-size: larger;
  float: left;
}

div#upcoming-shifts{
  margin-left: 100px;
  clear: left;
}

div.myShifts{
  clear: left;
  margin-top: 5%;
}

div.todayShifts{
  clear: left;
  margin-top: 8%;
}

div#hoursHeader{
  text-align: center;
}

div.daysShifts{
  display: block;
  margin-left: 50px;
  clear: left;
}

h3.shift-info{
  float: left;
  margin-right: 10px;
  border-left: solid;
  border-right: solid;
}
/*end home pages area*/
/*begin details area*/
div#details{
  float: left;
  margin-left: 100px;
  border: solid;
  padding: 10px;
}

div#tallyCounters{
  float: left;
  margin-left: 50px;
}/*the box around the tally counter buttons*/

button.tallyUp{
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5em;
  background-color: lightblue;
  padding: 15px 64px;
}/*buttons for tallying*/
button.tallyDown{
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5em;
  background-color: lightblue;
  padding: 15px 64px;
}/*buttons for tallying*/

div#inputs{
  width: 10%;
  margin-left: 100px;
  float: left;
} /*add/edit inputs*/

form#line-inputs{
  display: inline-block;
  margin-top: 10px ;
}

div#commentBox {
  float: left;
  margin-left: 10%;
}

div.addEditButtons{
  clear: left;
  margin-left: 50%;

}

/*begin list area*/
div#searchBar{
  float: right;
  margin-right: 10%;
}


div#table{
  float: left;
  margin-left: 100px;
  margin-top: 50px;
  /*display: table;*/
  width: 90%;
}

table, th, td {
  border: 1px solid black;
}

div.listShift{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  /* Making equal spaced divs */
  gap: 1rem;
  padding: 1em 1em 1em 1em;
  border:1px solid black;
}
div.listInfo{
overflow-wrap: break-word;
}
/*end list page*/
/*start chat page*/
div#chatContainer{
  float: left;
  margin-left: 100px;
  margin-top: 50px;
  /*display: table;*/
  width: 90%;
}
div.chatMessage{
  background-color: lightblue;
  padding: 1em 1em 1em 1em;
}
p.chatter{
  overflow-wrap: break-word;
  float: left;
}
p.chatCat{
  float: left;
  \padding-left: 1em;
}
p.chatCont{
  float: left;
  padding-left: 1em;
  overflow-wrap: break-word;
}
button.reply{
  margin-left: 5em;
  margin-top: 2em;
}

p.chatTime{
  clear: left;
}

button.post{
  clear: left;
  margin-left: 5em;
  margin-top: 2em;
}

/*end chat page*/
/*footer*/
div#footer{
  clear: left;
  text-align: center;
}

